<div class="container-fluid">
  <% provide(:title) %>
  <div class="row">
    <aside class="col-md-12">
      <section class="user_info">
        <h1>

        </h1>
      </section>
    </aside>
  </div>
</div>
