<div class="container-fluid" style="padding-top:100px;padding-bottom:100px;">
  <div class="row">
    <div class="col-md-6">
    <h2>Basic and Easy to Use Software</h2>
    <hr>
        <h4 style="padding-bottom:10px;list-style:none;text-align:center">Simple User Interface
        </h4>
        <h4 style="padding-bottom:10px;list-style:none;text-align:center">Multiple Team Members
        </h4>
        <h4 style="padding-bottom:10px;list-style:none;text-align:center">Web Based and Hosted
        </h4>
    </div>
    <div class="col-md-6">
    <h1 style="text-align:center;padding:20px">Get Started in Minutes</h1>
    <%= link_to "Get Started Today", signup_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>
  <div style="padding-top:10px;padding-bottom:100px;background-color:#339384" class="container-fluid">
    <div class="row">

    <div class="col-md-4">
      <div style="font-size:12em;text-align:center;">
        <i class="fa fa-line-chart"></i>
      </div>
      <h2 style="text-align:center">Charts to keep your team organized</h2>
    </div>

    <div class="col-md-4">
      <div style="font-size:12em;text-align:center;">
        <i class="fa fa-mobile"></i>
      </div>
      <h2 style="text-align:center">Easy to use on the go with any size device</h2>
    </div>

    <div class="col-md-4">
      <div style="font-size:12em;text-align:center;">
        <i class="fa fa-users"></i>
      </div>
      <h2 style="text-align:center">Collaborate with your team members</h2>
    </div>

    </div>
  </div>
</div>
