<div class="container-fluid" id="Contact">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center;color:#FFFFFF; padding-top: 50px;">Use for 30 Days Free. No Credit Card Required</h4>
      <hr>
      <br/><br/>
    </div>
    <div class="col-md-6" style="background-color:#41B3A3">
      <h2 class="text-center" style="color:#FFFFFF">One Plan for One Team</h2>
      <br/>
      <h4 style="padding-bottom:10px;list-style:none;text-align:center;color:#FFFFFF">
        Simple User Interface
      </h4>
      <h4 style="padding-bottom:10px;list-style:none;text-align:center;color:#FFFFFF">
        Basic and Easy to Use
      </h4>
      <h4 style="padding-bottom:10px;list-style:none;text-align:center;color:#FFFFFF">
        Web Based and Hosted
      </h4>
      <h4 style="padding-bottom:10px;list-style:none;text-align:center;color:#FFFFFF">
        Cancel anytime
      </h4>
      <h4 style="padding-bottom:10px;list-style:none;text-align:center;color:#FFFFFF">
        No per user fees
      </h4>
    </div>
    <div class="col-md-4" style="background-color:#41B3A3">
      <br/>
      <div class="well">
        <br/>
        <p style="font-size:70px;text-align:center"><small style="font-size:25px;">$</small>19</p><h3 style="text-align: center">per month</h3>
        <br/>
        <%= link_to "Start your 30 day free trial", signup_path(plan: @basic_plan.id), class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div>
</div>
<div style="padding-top:10px;padding-bottom:10px;background-color:#FFFFFF" class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Frequently Asked Questions</h1>
      <hr>
      <h3 style="text-align:left;">What can I do with the trial period?</h3>
      <p style="text-align:left;">The trial period provides you with all functionality to be utilized for 30 days.</p>
      <h3 style="text-align:left;">What forms of payment are accepted?</h3>
      <p style="text-align:left;">All major credit cards</p>
      <h3 style="text-align:left;">When can I cancel my account?</h3>
      <p style="text-align:left;">Feel free to cancel your account at anytime. You will stop being charged.</p>
      <h3 style="text-align:left;">Is a credit card required to use Nomad Agile?</h3>
      <p style="text-align:left;">For the first 30 days you can use Nomad Agile without a credit card.</p>
    </br>
    </div>
  </div>
</div>
