<h1>Nomad Solutions</h1>

<p>Hi,</p>

<p>
Welcome to Nomad Auto click on the link below to activate your account:
</p>

<%= link_to "Invitation", signup_url(plan: @invite_plan.id, invite_token: @invite.token)  %>
