<%= render 'users/sidebar' %></br>

<div class="container-fluid">
  <div class="row">
    <div class="well">
      <h1>Editing List</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @list %> |
      <%= link_to 'Back', lists_path %>
    </div>
  </div>
</div>
