<div id="footer" style="padding: 20px 10px;background-color:#F5F5F5;" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-2">
      <span style="font-size:100px;" class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-3 col-sm-offset-0">
      <span style="padding-top:40px;" class="glyphicon glyphicon-envelope fa-md"><a style="color:black;text-decoration:none;" href="mailto:admin@nomadagile.com">
      admin@nomadagile.com
      </a></span>
  </div>
    <div class="col-sm-2 col-sm-offset-1">
      <li style="padding-top:30px;list-style:none;"><%= link_to "Get in Touch", new_contact_path, class: 'btn btn-primary btn-lg' %></li>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright &copy; Nomad Agile 2017. All Rights Reserved</a></p>
</footer>
