<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Pro Account</h1>
          <p>Sign up for the pro account for $19/month.</p>
        <% else %>
          <h1>Basic Account</h1>
          <p>Sign up for free and get basic access.</p>
        <% end %>
      </div>
      <div class="well">
        <h2>Sign up</h2>
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
